@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: 'DM Sans', system-ui, sans-serif;
  }
}

@layer utilities {
  .ml-13 {
    margin-left: 3.25rem;
  }
}
